<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <title>Home</title>
</head>

<body>
    <!-- include header-->
    <header>
        <div class="container">
            <div class="container-sm">
                <a href="/views/index.html" class="headTitle">LOGO</a>
                <button class="toggle" type="button"><span class="fa fa-bars" title="MENU"></span></button>
            </div>
            <nav class="headNav">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Section main -->
    <section class="mainA">
        <div class="weather-color">
            <h1>미세먼지 상태</h1>
            <p>좋음</p>
            <span class="far fa-smile" title="state"></span>
            <button class="go-btn">날씨 확인하기</button>
        </div>
    </section>

    <!-- footer -->
    <footer>
        <div class="containerA">
            <h2>LOGO</h2>
            <ul>
                <li><i class="fas fa-map-marker-alt"></i> 경기도 안양시</li>
                <li><i class="fas fa-phone-square"></i> 010-8210-0000</li>
                <li<i class="fas fa-envelope-square">
                    </i> 0711hsj@google.com</li>
            </ul>
        </div>

        <div class="containerB">
            <h2>ABOUT COMPANY</h2>
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id exercitationem ab repellendus voluptatum fugiat, nesciunt sequi laborum. Assumenda consequatur, corporis sed quas porro optio non fugiat amet numquam maxime veniam.</P>
            <ul>
                <li><a href="#"><i class="fas fa-share-square"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-github"></i></a></li>
            </ul>
        </div>

    </footer>

    <script src="/js/head.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>